
.App-header {
  background-image: url('/UA06YK.jpg');
  background-size: cover;
  min-height: 100vh;
  background-attachment: fixed;
  
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
