
.App-header {
  background-image: url('https://i.pinimg.com/originals/55/0b/7a/550b7afbf123fa534ac657745e1d512c.png');
  background-size: cover;
  min-height: 100vh;
  background-attachment: fixed;
  
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
